footer {
    width: 100vw;
    height: 22vh;
}
.contt-rodape{
    border-top: 1px solid #555;
}
.rodape {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
    
}

.rodape a {
    text-decoration: none;
    color: currentColor;
}

.rodape h4 {
    font-size: 1em;
    margin-bottom: 10px;
}

.rodape p {
    font-size: 0.9em;
}

.footer-link ul {
    display: flex;
   justify-content: center;
    gap: 10px;

}

.rodape .footer-link img {
    object-fit: cover;
    image-rendering: optimizeQuality;
    width: 20px;
    height: 20px;
}